<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{$appName}</title>

	<!-- Bootstrap -->
	<link href="{$frontPath}/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<!-- Font Awesome -->
	<link href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css" rel="stylesheet">
	<!-- NProgress -->
	<link href="{$frontPath}/vendors/nprogress/nprogress.css" rel="stylesheet">
	<!-- iCheck -->
	<link href="{$frontPath}/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

	<!-- bootstrap-progressbar -->
	<link href="{$frontPath}/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
	<!-- JQVMap -->
	<link href="{$frontPath}/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
	<!-- bootstrap-daterangepicker -->
	<link href="{$frontPath}/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

	<!-- Custom Theme Style -->
	<link href="{$frontPath}/build/css/custom.css" rel="stylesheet">
	<link href="{$frontPath}/../../../custom.css" rel="stylesheet">
	<link rel="stylesheet" href="{$frontPath}/../../trumbowyg/ui/trumbowyg.css">
	<link rel="stylesheet" href="{$frontPath}/../../trumbowyg/plugins/colors/ui/trumbowyg.colors.css">

	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.1/css/bootstrap-colorpicker.min.css"
		  rel="stylesheet"/>

	<!-- jQuery -->
	<script src="{$frontPath}/vendors/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap -->
	<script src="{$frontPath}/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

	<style>

        .flash {
            position: absolute;
            top: 5px;
            right: 10px;
            width: 350px;
            font-size: 15px;
            border: 1px solid #000000;
            background-color: white;
            padding: 10px;
            display: none;
        }

        .flash__icon {
            float: left;
            margin-right: 10px;
            font-weight: bold;
            color: #FFFFFF;
        }

        .flash_success {
            background-color: #00CC33;
        }

        .flash_warning {
            background-color: #AA6708;
        }

        .flash_danger {
            background-color: #DC322F;
        }

        .flash__body {
            font-weight: bold;
            color: #FFFFFF;
        }

        .animate--drop-in-fade-out {
            display: flex;
            animation: fadeInAnimation ease 3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }

        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        .col-action {
            width: 1%;
            white-space: nowrap;
        }

        .no-border {
            border: none;
        }

        div[role=main] {
            min-height: 100vh;
        }
	</style>

</head>

<body class="nav-md">
<div class="container body">
	<div class="main_container">
		<div class="col-md-3 left_col hm-100 menu_background">
			<div class="left_col scroll-view">
				<div class="navbar nav_title" style="border: 0;">
				</div>

				<div class="clearfix"></div>

				<!-- menu profile quick info -->
				<div class="profile clearfix">
					<div class="profile_info"
					">
				</div>
			</div>
			<!-- /menu profile quick info -->

			<br/>

			<!-- sidebar menu -->
			{include menu.latte}
			<!-- /sidebar menu -->
		</div>
	</div>

	<!-- top navigation -->
	<div class="top_nav">
		<div class="nav_menu">
			<nav>
				<div class="nav toggle col-md-2">
					<a id="menu_toggle"><i class="fa fa-bars"></i></a>
				</div>
				<div class="col-md-4">
					<h1 style="float:right">{$appName}</h1>
				</div>
				<div class="col-md-6 alignright" style="padding-left: 380px !important;">
					{include messages.latte}
					{include profile.latte}
				</div>
			</nav>
		</div>
	</div>
	<!-- /top navigation -->

	<div class="right_col" role="main">
		{block content}
		{/block}
	</div>
	<!-- footer content -->
</div>

{foreach $flashes as $flash}
	<div class="flash flash_{$flash->type}">
		<div class="flash__icon flash_{$flash->type}">
			<i class="icon fa fa-check-circle-o"></i>
		</div>
		<p class="flash__body">
			{$flash->message}
		</p>
	</div>
{/foreach}


<!-- FastClick -->
<script src="{$frontPath}/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="{$frontPath}/vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="{$frontPath}/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="{$frontPath}/vendors/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="{$frontPath}/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="{$frontPath}/vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="{$frontPath}/vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="{$frontPath}/vendors/Flot/jquery.flot.js"></script>
<script src="{$frontPath}/vendors/Flot/jquery.flot.pie.js"></script>
<script src="{$frontPath}/vendors/Flot/jquery.flot.time.js"></script>
<script src="{$frontPath}/vendors/Flot/jquery.flot.stack.js"></script>
<script src="{$frontPath}/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="{$frontPath}/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="{$frontPath}/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="{$frontPath}/vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="{$frontPath}/vendors/DateJS/build/date.js"></script>
<!-- JQVMap -->
<script src="{$frontPath}/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="{$frontPath}/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="{$frontPath}/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="{$frontPath}/vendors/moment/min/moment.min.js"></script>
<script src="{$frontPath}/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.1/js/bootstrap-colorpicker.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="{$frontPath}/../../../custom.js"></script>

<script src="{$frontPath}/../../trumbowyg/trumbowyg.js"></script>
<script src="{$frontPath}/../../trumbowyg/langs/cs.min.js"></script>
<script src="{$frontPath}/../../trumbowyg/plugins/base64/trumbowyg.base64.js"></script>
<script src="{$frontPath}/../../trumbowyg/plugins/colors/trumbowyg.colors.js"></script>
<script src="{$frontPath}/../../trumbowyg/plugins/noembed/trumbowyg.noembed.js"></script>
<script src="{$frontPath}/../../trumbowyg/plugins/pasteimage/trumbowyg.pasteimage.js"></script>
<script src="{$frontPath}/../../trumbowyg/plugins/template/trumbowyg.template.js"></script>
<script src="{$frontPath}/../../trumbowyg/plugins/preformatted/trumbowyg.preformatted.js"></script>
<script src="{$frontPath}/../../trumbowyg/plugins/ruby/trumbowyg.ruby.js"></script>
<script src="{$frontPath}/../../trumbowyg/plugins/upload/trumbowyg.upload.js"></script>
<script src="{$frontPath}/../../trumbowyg/init.js"></script>


<script>
	$(".flash").addClass("animate--drop-in-fade-out");
	setTimeout(function () {
		$(".flash").removeClass("animate--drop-in-fade-out");
	}, 3500);
</script>

<link rel="stylesheet" href="//unpkg.com/grapesjs/dist/css/grapes.min.css">
<script src="//unpkg.com/grapesjs"></script>

</body>
</html>

