ublaboo_datagrid.no_item_found_reset:
ublaboo_datagrid.no_item_found: Nic k zobrazení
ublaboo_datagrid.here:
ublaboo_datagrid.items: Záznamů
ublaboo_datagrid.all: Vše
ublaboo_datagrid.from: z
ublaboo_datagrid.reset_filter: Zrušit filtr
ublaboo_datagrid.group_actions:
ublaboo_datagrid.show_all_columns: Zobrazit sloupce
ublaboo_datagrid.hide_column: Skrýt sloupce
ublaboo_datagrid.action:
ublaboo_datagrid.previous: Předchozí
ublaboo_datagrid.next: Další
ublaboo_datagrid.choose:
ublaboo_datagrid.execute:
ublaboo_datagrid.per_page_submit: Nastavit