{block content}
<div id="about">
    <div id="logo"></div>
    <div id="company">MK software</div>
    <div id="motto">001100010010011110100001101101110011</div>
    <div id=contact"><i class="fa fa-envelope"></i><a href="mailto:mkocenda@gmail.com"> mkocenda@gmail.com</a></div>
    <div id=contact"><i class="fa fa-globe"></i><a href="www.mk-soft.eu"> www.mk-soft.eu</a></div>

</div>